<h1>Archive</h1>
<table class="archive">
  {{#posts}}
  <tr>
    <td class="date">{{timestamp}}</td>
    <td class="title">
      <a href="{{entry_link}}">{{entry_title}}</a>
    </td>
  </tr>
  {{/posts}}
</table>
